.introName {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: #F9FAFB;
    text-shadow: 2px 1px #101D3C;
    font-size: 25px;
}


#portfolio_picture {
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 250px;
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    color: #eeeeee;
    font-size: small;
    text-align: center;
}

a {
    margin-right: 10px;
}
